html, body {
	height:100%;
	min-height: 400px;
}

.fill {
	height:100%;
}

.gutterFill {
	position: absolute;
	left: 10px;
	right: 10px;
	top: 20px;
	bottom: 20px;

	margin: auto;
}

#leftLabel, #midLabel, #rightLabel {
	font-size: 1.1em;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 50px;
	line-height: 50px;
	margin: auto;
	text-align: center;
	overflow: auto;
}


#friendList, #conversationList, #chatArea {
	position: absolute;
	top: 50px;
	left: 0px;
	right: 0px;
	height: calc(100% - 50px - 50px);
	margin: auto;
	overflow-y: auto;
	overflow-x: hidden;
	word-wrap: break-word;

}
	
#newGroupConversationButton, #sendMessageField {
	position: absolute;
	bottom: 10px;
	width: calc(100% - 20px);
	height: 34px;
	left: 0px;
	right: 0px;
	margin: auto;
}

.chatMessage {
	padding: 10px 20px 0px 20px;
}


.friend, .conversation {
	position: relative;
	vertical-align: middle;
	width: 100%;
	overflow: hidden;
}

.friend {
	height: 30px;
	line-height: 30px;
}

.conversation {
	height: 50px;
	line-height: 50px;
}

.conversationActive {
	background-color: #6EBBE6;
}

.friendText, .conversationText {
	position: absolute;
	padding-left: 20px;
	word-break: break-all;
	height:100%;
}

.conversationText {
	cursor: pointer;
	width: calc(100% - 35px);
}

.friendText {
	cursor: default;
	width: calc(100% - 35px);
}

.conversation:hover, .friend:hover{
	//background-color: #eeebe8;
}



.closeConversationGlyph {
	position: absolute;
	top: 0px;
	right: 4px;
	margin: auto;
	visibility: hidden;
}

.friendGlyphContainer {
	position: absolute;
	top: 0px;
	right: 4px;
	margin: auto;

}

.glyph {
	font-size: 1.3em;
	line-height: inherit;

	cursor: pointer;
}



/*

.uninett-color-lightBlue {
	background-color: #92ceef;
}

.uninett-color-blue {
	background-color: #005c9e;
}

.uninett-color-darkBlue {
	background-color: #00404c;
}

.uninett-color-lightGreen {
	background-color: #4cc0be;
}

.uninett-color-green {
	background-color: #00b086;
}

.uninett-color-darkGreen {
	background-color: #006b49;
}

.uninett-color-white {
	background-color: #ffffff;
}

.uninett-color-red {
	background-color: #eb212e;
}

.uninett-color-orange {
	background-color: #f3823e;
}


*/
