html, body {
	height:100%;
	min-height: 400px;
}

.fill {
	height:100%;
}

.gutterFill {
	position: absolute;
	left: 10px;
	right: 10px;
	top: 20px;
	bottom: 20px;

	margin: auto;
}

#leftLabel, #midLabel, #rightLabel {
	font-size: 1.1em;
	padding:10px;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 40px;
	margin: auto;
	text-align: center;
}

#friendList, #conversationList, #chatArea {
	position: absolute;
	top: 40px;
	left: 0px;
	right: 0px;
	height: calc(100% - 50px - 40px);
	margin: auto;
	overflow-y: auto;
	overflow-x: hidden;
	word-wrap: break-word;

}
	
#newGroupConversationButton, #sendMessageField {
	position: absolute;
	bottom: 10px;
	width: calc(100% - 20px);
	height: 34px;
	left: 0px;
	right: 0px;
	margin: auto;
}

.chatMessage {
	padding: 10px 20px 0px 20px;
}


.friend, .conversation {
	position: relative;
	vertical-align: middle;
	width: 100%;
	height: 30px;
	line-height: 30px;
	overflow-x: hidden;
	overflow-y: hidden;

}

.friendText, .conversationText {
	position: absolute;
	padding-left: 20px;
	overflow-x: hidden;
	word-break: break-all;
	height:100%;
}

.conversationText {
	cursor: pointer;
	width: calc(100% - 35px);
}

.friendText {
	cursor: default;
	width: calc(100% - 35px);
}

.conversation:hover, .friend:hover{
}


.closeConversationGlyph {
	position: absolute;
	top: 0px;
	right: 4px;
	visibility: hidden;
	margin: auto;
}

.friendGlyphContainer {
	position: absolute;
	top: 0px;
	right: 4px;
	margin: auto;

}

.glyph {
	padding-right: 25px;
	font-size: 1.3em;

	cursor: pointer;
}
