html, body {
	height:100%;
	min-width:800px;
	min-height: 400px;
}

.fill {
	height:100%;
}

.gutterFill {
	position: absolute;
	left: 10px;
	right: 10px;
	top: 20px;
	bottom: 20px;

	margin: auto;
}


#friendList, #conversationList, #chatContainer {
	position: absolute;
	top: 40px;
	left: 0px;
	right: 0px;
	height: calc(100% - 40px);
	margin: auto;
	overflow-y: auto;
	overflow-x: hidden;

}

#chatArea {
	position:relative;
	height: calc(100% - 45px);
	overflow-y: auto;
	overflow-x: hidden;
	word-wrap: break-word;
	
}
#sendMessageField {
	position: absolute;
	bottom: 10px;
	height: 30px;
	left:0px;
	right:0px;
	margin: auto;
	width:95%;
}
#leftLabel, #midLabel, #rightLabel {
	font-size: 1.1em;
	padding:10px;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 40px;
	margin: auto;
	text-align: center;
}

.chatMessage {
	padding: 10px 20px 0px 20px;
}


.friend, .conversation {
	position: relative;
	vertical-align: middle;
	width: 100%;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
	overflow-x: hidden;
	overflow-y: hidden;

}

.friendText, .conversationText {
	position: absolute;
	width: calc(100% - 20px);
	padding-left: 20px;
	overflow-x: hidden;
	word-break: break-all;
	height:100%;
}
.conversation:hover, .friend:hover{
}

.bold {
	font-size: 1.1em;
	font-weight: bold;
}

.closeConversationGlyph {
	position: absolute;
	top: 0px;
	right: 4px;
	visibility: hidden;
	margin: auto;
	text-align: right;
}
