html, body {
	height:100%;
}

.fill {
	height:100%;
}

.gutterFill {
	position: absolute;
	left: 10px;
	right: 10px;
	top: 20px;
	bottom: 20px;

	margin: auto;
}


#friendList, #conversationList, #chatContainer {
	position: absolute;
	top: 10%;
	left: 0px;
	right: 0px;
	height: 90%;
	margin: auto;

}

#chatArea {
	height:90%;
	overflow-y: auto;
	overflow-x: hidden;
	word-wrap: break-word;
	
}
#sendMessageField {
	position: absolute;
	bottom: 10px;
	left:0px;
	right:0px;
	margin: auto;
	width:95%;
}
#leftLabel, #midLabel, #rightLabel {
	font-size: 1.1em;
	padding:10px;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 10%;
	margin: auto;
	text-align: center;
}

.chatMessage {
	padding: 10px 20px 0px 20px;
}


.friend, .conversation {
	position: relative;
	vertical-align: middle;
	width: 100%;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
	overflow-x: hidden;
	overflow-y: hidden;

}

.friendText, .conversationText {
	padding-left: 20px;
	line-height: 100%;
	word-break: break-all;

	height:100%;

}
.friend:hover{
}
